

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: beige;
}

#disclaimer{
    display: flex;
    align-self: center;

}

.ui{
    display: flex;
    align-self: self-start;
    justify-self: center;
    padding: 24px;
    flex: auto;
    align-items: center;
    justify-content: space-around;
}
.container {
    display: flex;
    flex-wrap: wrap;
    border: 5px solid red;
    width: 300px;
    height: 300px; 
    max-width: 300px;
    max-height: 300px;
    align-self: center;
    background-color: white;
    flex: auto;
}

